.row
  .col-12
    %a{href: '/'}
      %h1 Prompt master
.row
  .col-12
    %ul.nav
      - Category.all.map do |category|
        %li
          %a{href: "/category/#{category.id}/"}= category.name
- if @category
  .row
    .col-8
      %a{href: "/category/#{@category.id}/"}
        %h4.category= @category.name
    .col-4
      %ul.fa-ul.nav
        %li
          %span.fa-li
            %i.fa-heart{class: (params[:mode] == "featured" ? 'fa-solid' : 'fa-regular')}
          %a{href: "/category/#{@category.id}/featured"} Featured
        %li
          %span.fa-li
            %i.fa-eye-slash{class: (params[:mode] == "hidden" ? 'fa-solid' : 'fa-regular')}
          %a{href: "/category/#{@category.id}/hidden"} Hidden
  - if @tags
    = will_paginate @tags
    .row.row-cols-2.row-cols-sm-2.row-cols-md-4#infinite-scroll
      - @tags.each do |tag|
        .col.tag-container
          = haml :tag, locals: {tag: tag}
