.row
  .col-12
    %a{href: '/'}
      %h1 Prompt master
.row
  .col-12
    %ul.nav
      - Category.order('name').all.map do |category|
        %li.nav-item
          %a.nav-link{href: category_url(category.id), class: (params[:id].to_i == category.id ? 'active' : '')}= category.name
- if @category
  .row
    .col
      .d-flex.justify-content-between
        .p-2
          %h4.category
            %a{href: "/category/#{@category.id}/"}= @category.name
            %button.btn.btn-sm.btn-tag-delete{type: "button", onclick: "confirmDeleteModalShow('category', #{@category.id}, '#{@category.name}')"}
              %i.fa.fa-trash
        .p-2
          %ul.fa-ul.nav.filters.float-end
            %li.nav-item
              - if params[:sort] == "name-desc"
                %a.nav-link{href: category_url(@category.id, filter: params[:filter], sort: "name-asc")}
                  %i.fa-arrow-down-z-a.fa-solid
              - else
                %a.nav-link{href: category_url(@category.id, filter: params[:filter], sort: "name-desc")}
                  %i.fa-arrow-up-a-z.fa-solid
            %li.nav-item
              - if params[:sort] == "rank-desc"
                %a.nav-link{href: category_url(@category.id, filter: params[:filter], sort: "rank-asc")}
                  %i.fa-arrow-down-9-1.fa-solid
              - else
                %a.nav-link{href: category_url(@category.id, filter: params[:filter], sort: "rank-desc")}
                  %i.fa-arrow-up-1-9.fa-solid

            %li.nav-item
              %a.nav-link{href: category_url(@category.id, filter: 'featured', sort: params[:sort]), class: (params[:filter] == "featured" ? 'active' : '')}
                %i.fa-heart{class: (params[:filter] == "featured" ? 'fa-solid' : 'fa-regular')}
                %span.d-none.d-sm-inline Featured
            %li
              %a.nav-link{href: category_url(@category.id, filter: 'hidden', sort: params[:sort]), class: (params[:filter] == "hidden" ? 'active' : '')}
                %i.fa-eye-slash{class: (params[:filter] == "hidden" ? 'fa-solid' : 'fa-regular')}
                %span.d-none.d-sm-inline Hidden
  - if @tags
    = will_paginate @tags
    .row.row-cols-1.row-cols-sm-1.row-cols-md-2.row-cols-lg-4#infinite-scroll
      - @tags.each do |tag|
        .col.tag-container
          = haml :tag, locals: {tag: tag}
